{% extends "layout.html" %}
{% load static from staticfiles %}

{% block static %}<link rel="stylesheet" href="{% static 'authors/css/authors.css' %}">{% endblock %}
{% block title %}Favorite Authors{% endblock %}
{% block content %}
<div class="cards">
    {% for author in authors %}
    <div class="card">
        <header><a href="{% url 'authors:detail' pk=author.pk %}">{{author.name}}</a></header>
        <div class="card-copy">
            {{author.about}}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}