{% extends "layout.html" %}

<!-- template for home page -->
{% block title %}Famous Authors{% endblock %}
{% block content %}
<h2>Welcome to Famous Authors!</h2>
<p>This is a website that helps teachers keep track of the reading assignments for their students. Teachers as admin, will be able to create a database of authors and their books, along with detailed notes on each.</p>
<p>In future, the teachers will be able to assign books to individual students, groups or classes who will be writing reviews on it.</p>
{% endblock %}