{% load static from staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/layout.css' %}">
        {% block static %}{% endblock %}
    </head>
    <body>
        <div class="site-container">
            <nav>
                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'authors:list' %}">Authors</a>
            </nav>
        {% block content %}{% endblock %}
        </div>
    </body>
</html>
